# K nearest Neighbour

This is an implementation of K nearest neigbour from scratch

I build a model to address the famous kaggle titanic problem, a binary classification problem. Individuals must be predicted as having survived or not survived the titanic disaster.

In [7]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from sklearn.metrics import f1_score, accuracy_score
from numpy.random import randint

%matplotlib inline
pd.set_option('max.rows', None)

### read data

In [8]:
data = pd.read_csv('train.csv')

In [9]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
feats = data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]

### impute Age NA values with mean

In [11]:
feats.Age = feats.Age.fillna(data.Age.mean())

In [12]:
feats.head()

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

### defining variables

the features x are an n dimensional matrix:
$$x \in \mathbb{R}^{n}$$

* scale variables
* choose distance metric
* identify closest K neighbours
* calculate mode class

class attributes will be:
* classification 
* feature 1 value, feature 2 value ... feature j value 

approach 2: vectorised

* store feature data in a numpy array then calculate distance metrics using vectorised operations

my prediction is that approach 2 will be fastest

distance metrics to be implemented:
* euclidean
* manhattan
* Minkowski
* mahalanobis

The algorithm type for calculating the nearest neighbours will be brute force

### distance functions

In [ ]:
def euclidean_distance():
    
def manhattan_distance():
    
def minkowski_distance():
    
def mahalanobis():
    
def test_distance

In [ ]:
def compute_nearest_neighbours(train, test, distance_metric):

In [13]:
feats.head()

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

In [14]:
feats_array = np.array(feats)

In [15]:
feats_array

array([[ 3.        , 22.        ,  1.        ,  0.        ,  7.25      ],
       [ 1.        , 38.        ,  1.        ,  0.        , 71.2833    ],
       [ 3.        , 26.        ,  0.        ,  0.        ,  7.925     ],
       ...,
       [ 3.        , 29.69911765,  1.        ,  2.        , 23.45      ],
       [ 1.        , 26.        ,  0.        ,  0.        , 30.        ],
       [ 3.        , 32.        ,  0.        ,  0.        ,  7.75      ]])

In [21]:
example_unknown = feats_array[0,:]

In [22]:
example_unknown

array([ 3.  , 22.  ,  1.  ,  0.  ,  7.25])

In [25]:
differences = feats_array-example_unknown

In [26]:
differences

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-2.        , 16.        ,  0.        ,  0.        , 64.0333    ],
       [ 0.        ,  4.        , -1.        ,  0.        ,  0.675     ],
       ...,
       [ 0.        ,  7.69911765,  0.        ,  2.        , 16.2       ],
       [-2.        ,  4.        , -1.        ,  0.        , 22.75      ],
       [ 0.        , 10.        , -1.        ,  0.        ,  0.5       ]])

In [39]:
2**3

8

In [40]:
euc_dists = ((differences[:,0])**2+(differences[:,1])**2+(differences[:,2])**2+(differences[:,3])**2+(differences[:,4])**2)**0.5

In [44]:
(2**2 + 16**2 + 64.0333**2)**0.5

66.03229141026381

In [45]:
euc_dists

array([  0.        ,  66.03229141,   4.17799294,  47.69929245,
        13.06292463,   7.85725152,  54.94793132,  24.41578639,
         6.71416554,  24.20307651,  20.35442212,  40.90831211,
         2.37486842,  29.85298352,   8.08486596,  34.16961369,
        29.80797922,   9.71282207,  14.02007489,   7.76382879,
        22.85962598,  13.38142369,   7.11387044,  28.96657557,
        19.80228838,  29.38739366,   7.76382879, 255.79105242,
         7.78924291,   7.7906014 ,  27.35056951, 139.49778545,
         7.77987227,  44.14252485,  75.18727467,  49.05672737,
         7.76381641,   1.62480768,  11.51357894,   8.94056312,
        18.13699603,  14.66500938,   7.7906014 ,  39.30005054,
         3.22426622,   7.8048967 ,  11.28445446,   7.77987227,
        16.38530516,  11.28284095,  35.87744983,   1.51739909,
        74.56781633,  20.03902443,  69.64398992,  29.36560765,
         3.68272997,   6.57650611,  26.72545603,  41.38988403,
         1.0002163 ,  74.52222823,  79.64452665,  27.53947167,
        21.98476894,  11.14491948,   7.84617741,   3.29013813,
         6.20125995,   4.35834329,  10.60954759,  40.35      ,
        66.27263764,   8.24017583,  50.26080797,   3.18747549,
         7.7906014 ,   7.8048967 ,  30.45047454,   9.60732143,
         2.01556444,   7.42041104,   7.78237231,  40.36115088,
         6.12882534,  14.10531815,  27.94218361,   7.8048967 ,
       255.77541418,   2.37486842,   7.11617875,   2.31625941,
        59.05849325,  14.05544823,  37.01351105,   7.8048967 ,
        56.18709974,  56.17064473,  19.87617921,  22.28368237,
         6.11694839,   7.7906014 ,  70.08745541,  11.13426143,
        15.04844261,   6.11694839,   1.46969385,   7.78151897,
        16.04422194,  18.5711177 ,  51.30850319,  10.39954315,
         1.28062485,   3.26046392,   8.82947274,   1.56704339,
        48.51288489,  15.4616461 , 240.29160895,  31.46745342,
        66.27263764,   7.8048967 ,  25.1403841 ,  12.05456345,
        77.04058285,  10.76724983,   7.77987227,   2.2386891 ,
        16.98638106,  23.02337128,  11.06422422,   2.24499443,
        26.03003073,  20.03902443,   6.63795902,   7.98589367,
        19.5004233 ,  48.28273501,   6.39280133,  72.01251627,
        11.32295148,   1.11803399,   8.82949602,   3.20156212,
         6.00520607,  29.68585522,   5.12814758,  30.16232128,
        23.82881659,  20.85815188,  29.50975474,  59.38368884,
        33.52446868,  19.99531195,   7.76404011,  61.45706056,
         6.10193239,   8.10185164,   7.89123367,  63.19467076,
        23.75547305,  19.95620204,   4.15639567,   5.29104491,
        38.77101245,  18.71431604,  48.42869927,  31.1676515 ,
        20.32318965,  49.62004451,  47.06445049,  28.50465971,
        21.37942981,   1.56704339,  41.36067622,   4.16714022,
        19.90287847,  35.35023205,   9.95301462,  15.79754728,
        63.19467076,  11.05062951,  27.65174328,  38.10593786,
        23.39445714,  43.4952746 ,  11.28445446,  30.10797237,
        19.82580389,  14.05051806,  11.6216393 ,   6.63795902,
         3.06023817,  26.73130188,  30.1339286 , 143.86575594,
         7.77987227,  20.08313167,   7.77987227,   6.25      ,
         6.48556089,  63.19467076,  12.06519033,  23.52128026,
         4.2       ,  20.30566808,  13.18938968,  12.25209803,
         6.10327781,  29.88415132,   2.24499443,  18.97531291,
         1.        ,   9.95301462,   7.71533619, 106.42509396,
         5.14350318,  28.12583332,  69.79796801,   8.75      ,
         6.13514466,   7.75      ,  29.02826209,   7.7906014 ,
        84.30636097,   2.32594067,   4.64354391,   1.80277564,
         7.14580296,  19.90287847,  77.35147461,   7.09053066,
        37.55079893,  29.74254371,   4.06970515,   7.76958252,
        28.92339019,  23.72762104,   4.64354391,  12.17582133,
        10.5440462 ,  11.28445446,   7.84617741,   1.00778222,
         8.06229651,  85.65373605,   3.20556157,   7.90964601,
        47.7752084 ,  37.1020552 ,   7.76378854,   7.76660519,
        44.46897795,  11.92989941,  23.10901136,  10.85968773,
        72.3952962 ,  79.68414209, 505.25142085,  33.74259178,
         7.77987227,  30.92925648,  78.4012755 ,  19.53362486,
         7.77987227,  14.44169311,  33.13897111,   3.04559108,
       150.5991207 , 129.05917913,  25.0666893 ,   7.90964601,
        22.67294643,  27.11092953,   7.77987227,  81.75979262,
        23.02715788,  10.66953197,  26.71171325,  18.41195264,
        43.01453243,   6.11269643,   6.48556089,   3.26190129,
        20.39212869,  11.13531123,   8.37033452,   1.1904023 ,
        20.85815188,   1.11803399,  71.74649817,  83.90670279,
        15.15389801,   2.74954542,   2.32745733,  21.98476894,
         1.80289563, 145.70686326,  24.59347297, 241.90919233,
         7.77987227,  17.78416185,   7.90964601,   9.34271976,
         7.8048967 , 145.8590292 , 103.94295205, 101.79254639,
        18.58931145,  50.36886849,  75.96755892, 255.17399089,
        19.22400843,   6.11694839,  28.35489376,   4.16714022,
        18.8828626 ,  32.73472926, 157.90194463, 128.5362303 ,
         1.        ,   5.13975268,   9.59218432,  21.79592852,
        63.19467076, 129.16373995,  39.02595491,  15.20074011,
        16.06940027,  51.14148739,  17.78416185,  31.76180883,
       147.10572782,  12.35161933, 126.65005493,   7.7906014 ,
        59.79483673, 128.6800781 ,  23.03562458,  36.49743142,
        27.45109287, 255.78127863,   8.42985765,   6.63795902,
        15.20074011,   6.25      ,  18.94894456,  11.73025629,
        20.90029904,  20.07473926,   2.42912021,  28.88492535,
         7.0710984 ,  10.96824963,   7.76382879,   6.48556089,
        47.81278595,  17.06055392,   7.78924291,   7.78924291,
        27.68433673,  21.65764652,  24.14333236,  13.03993865,
        11.28445446,   8.06225775,  77.92303896,   7.76381641,
         7.77987227,  62.12247983,  48.32638978,   4.07048125,
         3.26190129, 128.40277146,  23.60361466,  75.34190524,
         1.        , 204.33321438,   3.93464182,   3.20556157,
       221.19239504,  22.76200714,  10.0725183 ,  46.64292551,
         7.7906014 ,  66.38571006,  45.09015968,  15.20074011,
         7.77856318,   7.04006392, 113.65105587,   1.5158818 ,
         6.12010008, 106.04857672,   9.91476172,   1.13925311,
         9.07551969,  30.48872743,   3.68272997,   8.1951205 ,
        17.04275873,   4.2       ,   2.76235859,  10.48618138,
         2.64483577,  18.27737673,  29.02154372,  22.25421308,
         1.50851748,  19.90287847,   7.7906014 ,   7.77366332,
        83.50187124,  10.66953197,  22.03305755,   7.8048967 ,
        27.99218641,   7.42041104,   9.95301462,  20.84730198,
         7.7906014 ,   1.49451627,   7.09863543,   9.38735852,
        13.60244119,   7.76378854,  19.71198874,  19.04107402,
         7.77987227,  10.08166653,  20.33445352,  11.73025629,
        27.43287262,   5.10055144,  56.16780662, 113.06883965,
        27.23537452,  12.1346611 , 259.2143177 ,   9.67277106,
        29.86636905,   3.17214439,   3.04559108,   8.42985765,
         7.81155035,  76.80754148,  15.29910128,  22.83615554,
        20.86143017,  38.02055365,  24.92488716,  14.86576172,
        22.11899636,  86.21548618,   7.8048967 ,   7.100497  ,
        47.18569699,  45.31612923,  28.22343884,   7.77987227,
        32.45751069,  12.06813987,  40.08194731,  26.66575519,
         7.8048967 ,  16.03246706,  10.66953197,  39.15980082,
         7.77830557,  24.44916704,   7.76378854,  16.09332645,
        23.37199179,   6.76711452,   2.77401446,  45.46250007,
        18.27737673,   7.00297777,   1.03601768,  20.6730841 ,
        41.96573007,  10.66953197,  28.02927042,  41.07875249,
        83.90670279,  19.90287847,  83.78879698,  42.48532099,
         8.10185164,  15.64680479,  14.86576172,   1.41421356,
        40.42972298,  64.74115706,   1.62480768,  10.5941494 ,
        77.91900717,  11.04078405, 144.35889304,   2.30171624,
         5.29104491,   1.5       ,   7.7730435 ,  15.21393789,
        79.50825429, 101.74832922,  21.8760714 ,  20.89895721,
        16.44158219,  49.41810213,   7.08872344,   7.8048967 ,
        23.73660478,  61.21782829,   2.24953721,  36.69708071,
        12.51249376,  18.59802174,  23.42141114,  10.07060364,
        86.64907674,   1.1904023 ,   7.76382879,  55.34845736,
         7.76381641,  18.53375299,  28.22343884, 214.6789558 ,
        17.04275873,   4.69707356,  27.45109287,   7.76381641,
         5.09906194,  17.10371718,   8.18505689,  24.33105012,
        30.10797237,  99.52226196,  10.62256619,  42.35637496,
        65.33806318,  27.5535955 ,  26.668345  ,  21.2735164 ,
       103.07124053,  46.04956569,  19.01479687,  10.24702731,
        17.26921032,  32.68409399, 103.79721031,  19.45668266,
         7.78536352,   1.00031245,   1.1294357 ,  44.46897795,
        41.55144402, 220.42085209,  74.40268812,  17.29226706,
         7.77987227,  18.03931977,   8.77852493,   7.8048967 ,
         7.8048967 ,  17.04728717,   3.22754669,  16.03529311,
         7.76381641,  10.06802154,  40.15672422,  54.05758164,
        23.8168828 ,   7.77987227,   6.13514466,   7.90964601,
        13.38142369,  51.57346702,  10.54684794,  10.0725183 ,
        22.99048716, 105.04218614,  37.11552909,  35.8017545 ,
         7.90033663,  72.57244656,  26.21187708,  81.39903255,
         1.28062485,   7.8048967 ,  13.03900399,  77.11920435,
        25.01999201,   8.03283341,  24.03253004,  21.96838638,
        26.91354515,  27.97431858,   7.76382879,  56.57758313,
        19.92642718,   7.7906014 ,  36.05272407,  22.03724121,
        23.37712557,  16.27544162,   8.08808121,  23.88645013,
        34.40194722, 147.33327919,  29.85298352,   7.76636418,
        11.28445446,   7.77987227,  13.06292463,  57.82786958,
        14.00437432,   9.71197714,  36.53850708,   5.34438958,
         8.76929288,  49.56279388,   8.78117127,   1.53787439,
         8.96228208,  46.41707674,  35.39788129,  70.75071511,
         4.17337485,   7.77881684,  62.34230105,  29.01789685,
        25.40792199,  10.80920499,  24.56465957,   8.42985765,
        10.0725183 ,  21.07130751,  37.93667627,  11.73025629,
         2.31625941,  62.12247983,  28.88637222,  49.85403926,
        24.44916704,  74.21158422,   3.22754669,  44.26129799,
         7.76958252,   1.44568323,   7.7906014 ,  16.342047  ,
         1.84396282,   7.78536352,   4.15331193,  66.29526755,
         7.7906014 ,  13.00240362,   6.00520607, 112.01027018,
       129.48343523,  18.02777371,  31.08478577,  14.03782097,
         2.11083514,  67.01539002,   6.63795902,   7.78151897,
        21.03901138,  45.45150066,  36.52482033,  45.68985117,
        48.13068148,  10.77323071,  10.66953197,   4.15639567,
         2.80891438,   4.87000091,  45.26723429, 505.27912907,
         7.81435018,  69.69475757,   2.98339153,  40.69548501,
        49.53849513,  34.53250603,  33.5587754 ,   4.30477324,
         4.15907413, 204.22220167,  50.59706019,  19.07952276,
        49.85403926,   3.16237648,  42.67891751,  30.676742  ,
        22.03724121,   7.77881684, 107.11610929,  20.02897901,
       220.32039312,  23.16088095,   8.36065175,   3.20027638,
         4.04537485,  25.34881654,  23.87598166,  27.7024621 ,
       144.31732398,  11.14491948,  42.36056442,  20.89895721,
        51.79346001,   7.41536438,  30.57879167,   3.18747549,
       220.8666467 ,   6.12882534,  11.32867656,  11.05783094,
        30.36548205,   5.0038323 ,  13.38142369,  28.61926799,
        46.16516544,   2.64483577,  16.06432383,   7.77907892,
        19.01479687,   3.075     , 204.21975334,  15.97228557,
        10.66953197,   6.00520607,   6.00520607,  11.02599202,
        37.69304478, 505.25142085,   7.7906014 ,   7.7906014 ,
        24.12133729,  72.98328576, 255.14459748,   9.07317475,
         9.08050797,  79.8314631 ,  14.35270009,   9.95301462,
        45.99154814,   9.06917857,  23.95960142,  16.89084441,
        11.27220032,   1.55468892,  63.37241119,  22.57280222,
         6.10720047,   6.00520607,  12.06813987,  80.04100512,
        10.62256619,  19.0267082 ,   2.23616472, 113.65105587,
         6.10537673,  76.45040019,  33.32865003,   8.5732141 ,
        18.5711177 ,  10.11126383,   3.17214439,  26.02623787,
        35.17900652,   7.76382879,  35.80590035,   4.15331193,
         7.77987227,  17.81293421,   7.77907892, 205.17969601,
         9.05540903,  50.04060851,  23.90737334,  18.04761515,
         3.1685959 ,   3.16227766,   4.13042584,  26.16324951,
        24.95106461,  75.88018516,   7.77987227,  19.73733771,
        63.19467076,  24.77865917,   3.22754669,  18.00173603,
        32.90763608,   9.16811589,   8.06228458,  18.72458277,
        13.38142369,  21.07130751, 113.32061816,  21.66335452,
         5.10642977,   9.07059122,  18.61618919,   4.15639567,
        18.00173603,  47.19345823,   4.17209854,  23.99187362,
        13.47451298,  29.08952775,   8.59592927,  10.80920499,
         1.56704339,  31.11771871,  21.03901138,  24.0504158 ,
        91.34584008,   5.29104491,  17.70769607,   7.36889578,
        38.23861146,   7.76958252,  49.85403926,  36.50085503,
         7.77987227,  83.05156531,  10.04492397,  24.13335658,
         7.76381641,   1.53787439,   4.25470328,  77.82075564,
         1.9987887 ,   7.8048967 ,  50.26080797,  23.83860131,
         2.33572794,   6.96867993,  25.1607333 ,  12.56623079,
         5.29104491,  20.02723146,  63.19467076,  13.05438844,
        26.49646203,  82.23981074,  30.23575078,  52.01226418,
        15.29486246,  32.79668428,  28.92339019,   4.73392015,
       159.30167645,  34.90687611,  12.57772908,   7.76381641,
        20.22464533,   4.47911822,  32.09225004,  63.19467076,
         6.25      ,  20.85815188,   8.34683346,  44.22894095,
         8.08324889,  18.4412586 ,   4.17337485,  51.79257222,
        11.44825314,  25.0811184 ,  17.82028339,   7.07111201,
         3.4261024 ,   3.22754669,   7.7906014 ,  83.21099692,
        19.06731497,  11.06422422,   3.41633267,   6.96867993,
         3.1685959 ,  28.16940938,   7.75      ,  23.05563922,
        18.04761515,  23.20694939,  10.0623059 ])