# Multilayer Perceptron

This is an implementation of a multilayer perceptron. back-propagation is used to fit the model paramaters

I build a model to address the famous kaggle titanic problem, a binary classification problem. Individuals must be predicted as having survived or not survived the titanic disaster.

### import modules

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from sklearn.metrics import f1_score, accuracy_score
from numpy.random import randint

%matplotlib inline
pd.set_option('max.rows', None)

### read data

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
feats = data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]

### impute Age NA values with mean

In [5]:
feats.Age = feats.Age.fillna(data.Age.mean())

/Users/robbie.morse/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [6]:
feats.head()

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

### defining variables

I will be implementing the following artificial neural network (ANN) architecture.

The ANN will:

* contain 1 hidden layer
* contain 6 units in the hidde layer including the bias unit
* output will come from a single node
* all units will utilise teh sigmoid (logistic) activation function



<img src="img/mlp.png" style="height:300px">

credit: https://scikit-learn.org/stable/_images/multilayerperceptron_network.png

**1st layer**
<br>
the features are an n dimensional vector:
$$a^1 \in \mathbb{R}^{n}$$




**2st layer**
<br>
the features a are an n dimensional vector:
$$a^2 \in \mathbb{R}^{n}$$

where n is equal to the number of units including a bias unit
    
the weights w are a n dimensional vector
$$w^2 \in \mathbb{R}^n$$
z is a linear combination of the weights and feature values such that:


$$z^2 \in w^{2{T}}a^1$$



    
$\sigma$ is the logistic function where:

$$y = \sigma(z)$$

$$\sigma(z) = \frac{1}{1+e^{-z}}$$